:root {
  --base-size: 16px;
  --disabled-color: #b3b3b3;
  --error-color: #ff471a;
  --font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
  --info-color: #4d4dff;
  --primary-color: #88cb3c;
  --secondary-color: #4f7920;
  --success-color: #009900;
  --warning-color: #ff9900;
}
